<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/login.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item navbar-dark" role="presentation" >
                <a class="nav-link active text-info" id="DashboardTab" data-toggle="tab" data-target="#Dashboard" role="tab" aria-controls="home" aria-selected="true">Dashboard<a>
              </li>
                <li class="nav-item navbar-dark" role="presentation" onclick="getDocuments('Approved')">
                  <a class="nav-link  text-info" id="ApprovedTab" data-toggle="tab" data-target="#Approved" role="tab" aria-controls="home" aria-selected="true">Approved Documents<a>
                </li>
                <li class="nav-item" role="presentation" onclick="getDocuments('Rejected')">
                  <a class="nav-link text-info" id="RejectedTab" data-toggle="tab" data-target="#Rejected" role="tab" aria-controls="profile" aria-selected="false">Rejected Documents<a>
                </li>
                <li class="nav-item" role="presentation" onclick="getDocuments('Pending')">
                  <a class="nav-link text-info" id="PendingTab" data-toggle="tab" data-target="#Pending" role="tab" aria-controls="contact" aria-selected="false">Pending Documents<a>
                </li>
              </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container">
  <div class="tab-content   row justify-content-center" id="nav-tabContent">
<main class="login-form tab-pane fade show active  col-md-12 "  id="Dashboard" role="tabpanel" aria-labelledby="DashboardTab">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div  class="card-header d-flex justify-content-center bg-secondary"><h2  id="HouseholdName"></h2></div>
                    <br>
                    <div class="card-body d-flex justify-content-start">

                    <div class="card  text-white bg-info mx-5 " style="width: 18rem;margin-bottom: 3rem;">
                        <div class="card-header">
                          <p  class="card-text d-flex justify-content-center ">Unit Details</p>
                          
                          </div>
                        <div class="card-body">
                          <p id="name" class="card-text  "></p>
                          <p id="unitNo" class="card-text  "></p>
                          <p id="address1" class="card-text "> </p>
                          <p id="address2"class="card-text "></p>
                        </div>
             
                      </div>
                     
                       
                        <div class="card  border-warning mx-4 " style="width: 30rem;margin-bottom: 3rem;">
                          <div class="card-header"><p>Important Dates and Notices</p>
                          </div>
                          <div class="card-body">
              <div class="alert alert-danger" role="alert">
                 You have received the second AR notice
                </div><div class="alert alert-danger" role="alert">
                  You have received the first AR notice
                </div>             
                <div class="alert alert-warning" role="alert">
                  The deadline for uploading documents is 08/01/2022
                </div> 
                  </div>
                </div>
                
              
                
                  </div>
                  <form id="myForm"  method="POST" >
                  
      
                    <p class="text-dark d-flex justify-content-center">Click on the upload button below to upload the documents</p>
                    <div class="col-md-10 offset-md-5">

                        <button id="submitBtn" type="submit" class="btn btn-primary">
                            Upload
                        </button>
                        
                    </div>
                  </form>
              </div>
              </div>
            
                </div>
            </div>
        </div>
    </div>

</main>

  <div class="tab-pane fade col-md-12 mt-3  " id="Approved" role="tabpanel" aria-labelledby="ApprovedTab" ></div>
  <div class="tab-pane fade  col-md-12 mt-3 align-items-center" id="Rejected" role="tabpanel" aria-labelledby="RejectedTab"><form></form></div>
  <div class="tab-pane fade  col-md-12 mt-3 align-items-center" id="Pending" role="tabpanel" aria-labelledby="PendingTab"></div>
</div>
</div>




</body>
<script type="text/javascript" src="/js/user_dashboard.js" ></script>

    <%- include('footer'); -%>
    
</html>
